.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.flex-center-column {
  align-items: center;
}
.flex-between {
  justify-content: space-between;
}
.flex-evenly {
  justify-content: space-evenly;
}

.relative {
    position: relative;
}
