:root {
  --white: #f7f7f7;
  --black: #111;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html,
body {
  scroll-behavior: smooth !important;
}

@font-face {
  font-family: sentient;
  src: url("/fonts/Sentient-Regular.woff2") format("woff2"),
    url("/fonts/Sentient-Bold.woff") format("woff");
    font-swap: swap;
}

body {
  min-height: 100vh;
  color: var(--white);
  font-family: 'sentient';
  cursor: url('../wcursor.cur'), pointer;
  padding: 0;
  background-color: #111;
}

a {
  color: var(--white);
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.debug {
  outline: 1px solid red;
}

p {
  max-width: 75ch;
}