.scroll{
    --sb-track-color: #232E33;
    --sb-thumb-color: #e4e4e4;
    --sb-size: 12px;
    @media screen and (max-width: 768px) {
        overflow-y: auto;
    }
}

.scroll::-webkit-scrollbar {
    width: var(--sb-size)
}

.scroll::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 8px;
}

.scroll::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 8px;

}

@supports not selector(::-webkit-scrollbar) {
    .scroll {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}