/* // PADDING */
/* // small */
.pa-s {
    padding: var(--s-small);
}
.px-s {
    padding: 0 var(--s-small);
}
.py-s {
    padding: var(--s-small) 0;
}

/* // normal */
.pa {
    padding: var(--s-normal);
}
.px {
    padding: 0 var(--s-normal);
}
.py {
    padding: var(--s-normal) 0;
}

/* // large */
.pa-l {
    padding: var(--s-large);
}
.px-l {
    padding: 0 var(--s-large);
}
.py-l {
    padding: var(--s-large) 0;
}

/* // MARGIN */

/* //small */

.ma-s {
    margin: var(--s-small);
}
.mx-s {
    margin: 0 var(--s-small);
}
.my-s {
    margin: var(--s-small) 0;
}

/* //normal */

.ma{
    margin: var(--s-normal);
}
.mx {
    margin: 0 var(--s-normal);
}
.my {
    margin: var(--s-normal) 0;
}

/* //large */

.margin-large {
    margin: var(--s-large);
}
.margin-large-x {
    margin: 0 var(--s-large);
}
.margin-large-y {
    margin: var(--s-large) 0;
}
