@font-face {
  font-family: 'CascadiaCode';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('CascadiaCode'),
      url('../fonts/CascadiaCode.woff2') format('woff');
}

@font-face {
  font-family: 'Sentient';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Sentient'),
      url('../fonts/Sentient-Regular.woff2') format('woff');
}
@font-face {
  font-family: 'Sentient-Bold';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('Sentient'),
      url('../fonts/Sentient-Bold.woff2') format('woff');
}


.min-w-screen {
    min-width: 100vw;
}
.min-h-screen {
    min-height: 100vh;
}
.w-screen{
    width: 100vw;
}
.w-full {
    width: 100%;
}